article {
    display: block;
    float: left;
    width: 60%;
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 20px;
}

article>h3 {
    text-align: center;
    padding-bottom: 10px;
}

article>p {
    padding: 10px;
}

@media (prefers-color-scheme: dark) {
    article {
        background: #333;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    article {
        background: white;
        color: #555;
    }
}