article{
    display: block;
    float: left;
    width: 60%;
    margin-left: 50px;
    margin-top: 50px;
    background-color: white;
    padding: 10px;
}
article>h3{
    background-color: white;
    text-align: center;
    padding-bottom: 10px;
}
article>p{
    background-color: white;
    padding: 10px;
}