footer {
    width: 100%;
    height: 200px;
    bottom: 0px;
    display: flex;
}

footer>h3 {
    left: 100px;
    margin: 5% 25%;
}

footer>div {
    margin-top: 3%;
}

@media (prefers-color-scheme: dark) {
    footer {
        background: #333;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    footer {
        background: white;
        color: #555;
    }
}