header {
    background-color: #004680;
    height: 100px;
    width: 100%;
}

#header {
    position: relative;
    margin-top: 15px;
    margin-left: 5%;
    height: 60px;
    float: left;
}

form {
    margin-top: 35px;
    margin-right: 5%;
    float: right;
}