header {
    background-color: #023f87;
    display: flex;
}
h1{
    position: relative;
    background-color: #023f87;
    color: white;
    left: 5%;
    width: 100%;
}
form{
    background-color: #023f87;
    position: relative;
    margin-top: 30px;
    margin-left: 60%;
    width: 140%;
}