main {
    margin-bottom: 200px;
}

main>div {
    width: 100%;
}

#images>ul {
    display: flex;
    animation: lunbo 60s infinite;
}

#images>ul>li {
    list-style: none;
    float: left;
}


@media screen and (min-width:1500px) {
    #images {
        width: 1500px;
        margin: 0px auto;
        overflow: hidden;
    }

    @keyframes lunbo {
        0% {
            margin-left: 0px;
        }

        15% {
            margin-left: 0px;
        }

        18% {
            margin-left: -1500px;
        }

        32% {
            margin-left: -1500px;
        }

        35% {
            margin-left: -3000px;
        }

        49% {
            margin-left: -3000px;
        }

        52% {
            margin-left: -4500px;
        }

        65% {
            margin-left: -4500px;
        }

        68% {
            margin-left: -6000px;
        }

        82% {
            margin-left: -6000px;
        }

        85% {
            margin-left: -7500px;
        }

        97% {
            margin-left: -7500px;
        }

        100% {
            margin-left: -9000px;
        }
    }

    #images>ul>li>img {
        width: 1500px;
    }
}

@media screen and (min-width:1000px) and (max-width:1500px) {
    #images {
        width: 1000px;
        margin: 0px auto;
        overflow: hidden;
    }

    @keyframes lunbo {
        0% {
            margin-left: 0px;
        }

        15% {
            margin-left: 0px;
        }

        18% {
            margin-left: -1000px;
        }

        32% {
            margin-left: -1000px;
        }

        35% {
            margin-left: -2000px;
        }

        49% {
            margin-left: -2000px;
        }

        52% {
            margin-left: -3000px;
        }

        65% {
            margin-left: -3000px;
        }

        68% {
            margin-left: -4000px;
        }

        82% {
            margin-left: -4000px;
        }

        85% {
            margin-left: -5000px;
        }

        97% {
            margin-left: -5000px;
        }

        100% {
            margin-left: -6000px;
        }
    }

    #images>ul>li>img {
        width: 1000px;
    }
}

@media screen and (min-width:500px) and (max-width:1000px) {
    #images {
        width: 500px;
        margin: 0px auto;
        overflow: hidden;
    }

    @keyframes lunbo {
        0% {
            margin-left: 0px;
        }

        15% {
            margin-left: 0px;
        }

        18% {
            margin-left: -500px;
        }

        32% {
            margin-left: -500px;
        }

        35% {
            margin-left: -1000px;
        }

        49% {
            margin-left: -1000px;
        }

        52% {
            margin-left: -1500px;
        }

        65% {
            margin-left: -1500px;
        }

        68% {
            margin-left: -2000px;
        }

        82% {
            margin-left: -2000px;
        }

        85% {
            margin-left: -2500px;
        }

        97% {
            margin-left: -2500px;
        }

        100% {
            margin-left: -3000px;
        }
    }

    #images>ul>li>img {
        width: 500px;
    }
}

#tongzhigonggao {
    float: left;
    margin: 10px 0px 20px 2.5%;
    width: 460px;
}

#tongzhigonggao>h2 {
    margin-bottom: 10px;
}

#tongzhigonggao>p {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #939597;
}

#xueyuanxinwen {
    float: left;
    margin: 10px 0px 20px 2.5%;
    width: 460px;
}

#xueyuanxinwen>h2 {
    margin-bottom: 10px;
}

#xueyuanxinwen>p {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #939597;
}

#xueshujiaoliu {
    float: left;
    margin: 10px 0px 20px 2.5%;
    width: 460px;
}

#xueshujiaoliu>h2 {
    margin-bottom: 10px;
}

#xueshujiaoliu>p {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #939597;
}

@media (prefers-color-scheme: dark) {

    #tongzhigonggao,
    #xueyuanxinwen,
    #xueshujiaoliu {
        background: #333;
        color: white;
    }
}

@media (prefers-color-scheme: light) {

    #tongzhigonggao,
    #xueyuanxinwen,
    #xueshujiaoliu {
        background: white;
        color: #555;
    }
}

#gundongtu {
    margin: auto;
    overflow: hidden;
}

#gundongtu>ul {
    display: flex;
    animation: gundong 15s linear infinite;
}

#gundongtu>ul:hover {
    animation-play-state: paused;
}

#gundongtu>ul>li>img {
    height: 250px;
}

#gundongtu>ul>li {
    margin: 5px;
}

@keyframes gundong {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: -2005px;
    }
}

@media (prefers-color-scheme: dark) {

    #tongzhigonggao,
    #xueshujiaoliu {
        border-top: 5px solid rgb(10, 132, 255);
    }

    #xueyuanxinwen {
        border-top: 5px solid rgb(255, 159, 10);
    }
}

@media (prefers-color-scheme: light) {

    #tongzhigonggao,
    #xueshujiaoliu {
        border-top: 5px solid rgb(0, 122, 255);
    }

    #xueyuanxinwen {
        border-top: 5px solid rgb(255, 149, 0);
    }
}