nav ul {
    display: flex;
    align-items: flex-start;
}

nav ul li {
    width: 100%;
    list-style: none;
    text-align: center;
}

nav ul li:hover {
    background-color: #023f87;
    color: white;
}

nav ul li:hover a {
    display: block;
    background-color: #023f87;
    color: white;
}

nav ul li:hover ul {
    display: block;
    background-color: #023f87;
    color: white;
}

nav ul li:hover ul li {
    background-color: #023f87;
    color: white;
}

nav ul li a {
    text-decoration: none;
    height: 30px;
    position: relative;
    top: 15px;
    color: black;
}

nav ul li a:hover {
    background-color: #023f87;
    color: white;
}

nav ul li ul {
    display: none;
    background-color: #023f87;
}

nav ul li ul li a {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    height: 100%;
    z-index: 10;
}

nav ul li ul li:hover a {
    background-color: #ff9b25;
}