nav {
    position: sticky;
    top: 0px;
    backdrop-filter: saturate(180%) blur(20px);
}

nav>ul {
    display: flex;
}

nav>ul>li {
    width: 100%;
    list-style: none;
    text-align: center;
    height: 50px;
}

nav>ul>li:hover {
    background-color: #004680;
    color: white;
}

nav>ul>li>a {
    text-decoration: none;
    height: 30px;
    position: relative;
    top: 15px;
    padding-bottom: 5px;
}

nav>ul>li:hover>a {
    display: block;
    background-color: #004680;
    color: white;
}

nav>ul>li:hover>ul>li>a {
    display: block;
}

nav>ul>li:hover>ul {
    display: block;
    animation: erji 300ms;
}

@keyframes erji {
    from {
        margin: 10px auto;
    }

    to {
        margin: 0px auto;
    }
}

nav>ul>li>ul {
    display: none;
    position: relative;
}

nav>ul>li>ul>li {
    list-style: none;
}

nav>ul>li>ul>li>a {
    background-color: #004680;
    color: white;
    position: relative;
    font-size: small;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    top: 15px;
}

nav>ul>li>ul>li>ul {
    display: none;
    position: absolute;
    left: 100%;
    margin-top: -32px;
    width: 100px;
}

nav>ul>li>ul>li:hover>ul {
    display: block;
    animation: sanji 300ms;
}

@keyframes sanji {
    from {
        margin-left: 10px;
    }

    to {
        margin-left: 0px;
    }
}

nav>ul>li>ul>li>ul>li {
    list-style: none;
}

nav>ul>li>ul>li>ul>li>a {
    text-decoration: none;
    background-color: #004680;
    color: white;
    display: block;
    font-size: small;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (prefers-color-scheme: dark) {
    nav {
        background: rgba(0, 0, 0, 0.8);
        color: white;
    }

    nav>ul>li>ul>li:hover>a,
    nav>ul>li>ul>li>ul>li:hover>a {
        background-color: rgb(255, 159, 10);
    }
}

@media (prefers-color-scheme: light) {
    nav {
        background: rgba(255, 255, 255, 0.8);
        color: black;
    }

    nav>ul>li>ul>li:hover>a,
    nav>ul>li>ul>li>ul>li:hover>a {
        background-color: rgb(255, 149, 0);
    }
}